@import "compass/reset";
@import "compass/css3";

body {
  padding: 50px 80px;
}

aside{
  background-color: #449fdb;
  width: 200px;
  float: left;
  display: block;
  span{
    margin: 0 5px;
  }
  .logo{
    background: url("../images/logo.png");
    display: block;
    width: 120px;
    height: 120px;
    margin: 10px auto;
  }
  ul{
    display: block;
    width: 160px;
    margin: 30px auto;
    li{
      line-height: 45px;
    }
  }
  div{
    display: block;
    width: 160px;
    margin: 30px auto;
    a{
      display: inline-block;
      width: 150px;
      height: 25px;
      border: 1px solid #333;
      border-radius: 5px;
      text-align: center;
      line-height: 25px;
      margin: 10px 0;
    }
  }
}

section{
  background-color: coral;
  display: block;
  float: left;
  width: 896px;
  .float-title p{
      line-height: 20px;
      &:nth-child(1){
        background-color: white;
        text-align: right;
        color: black;
        float: right;
        margin-top: 50px;
      }
      &:nth-child(2){
        background-color: white;
        color: black;
        float: right;
        margin-top: 80px;
      }
      &:nth-child(3){
        background-color: white;
        color: black;
        float: right;
        margin-top: 110px;
      }
  }
  ul{
    li{
      height: 85px;
      width: 25%;
      margin: 0;
      float: left;
      padding: 20px 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &:nth-child(3){
        background-color: darkseagreen;
      }
    }
  }
}

footer{
  background-color: darkslateblue;
}

a{
  text-decoration: none;
}

h2{
  margin: 10px 0;
}









.clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

//imported from and for IcoMoon
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-5gq95c');
  src:url('fonts/icomoon.eot?#iefix-5gq95c') format('embedded-opentype'),
  url('fonts/icomoon.woff?-5gq95c') format('woff'),
  url('fonts/icomoon.ttf?-5gq95c') format('truetype'),
  url('fonts/icomoon.svg?-5gq95c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pen:before {
  content: "\e908";
}

.icon-library:before {
  content: "\e921";
}

.icon-coin-yen:before {
  content: "\e93e";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-map2:before {
  content: "\e94c";
}

.icon-mug:before {
  content: "\e9a2";
}

.icon-lab:before {
  content: "\e9aa";
}

.icon-magnet:before {
  content: "\e9ab";
}

.icon-link:before {
  content: "\e9cb";
}

.icon-facebook:before {
  content: "\ea8c";
}

.icon-twitter:before {
  content: "\ea91";
}

.icon-feed2:before {
  content: "\ea94";
}

