/* line 5, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
header {
  line-height: 50px;
  background-color: #fcf9f4;
  color: #888;
}
/* line 9, ../sass/style.scss */
header #logo {
  display: inline-block;
  height: 45px;
  width: 85px;
  background: url("../images/logo.png");
  background-size: cover;
  float: left;
}
/* line 18, ../sass/style.scss */
header nav {
  float: left;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  margin: 0 25px;
  padding: 0 15px;
}
/* line 24, ../sass/style.scss */
header nav li {
  display: inline-block;
  margin: 0 10px;
}
/* line 30, ../sass/style.scss */
header .donate {
  border-color: #888888;
  color: #888888;
  margin: 0px;
  padding: 4px 30px;
}

/* line 38, ../sass/style.scss */
.float-right {
  float: right;
}

/* line 42, ../sass/style.scss */
.float-left {
  float: left;
  height: 100%;
}

/* line 47, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 51, ../sass/style.scss */
.button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 60px;
  color: white;
  margin: 30px;
}

/* line 59, ../sass/style.scss */
.trans-white {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 9px 61px;
}

/* line 65, ../sass/style.scss */
.trans-black {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
}

/* line 70, ../sass/style.scss */
.yellow-bkg {
  background-color: #ffcd62;
  color: black;
  border: none;
}

/* line 76, ../sass/style.scss */
.centralized {
  width: 650px;
  margin: 0 auto;
}

/* line 81, ../sass/style.scss */
.text-left {
  text-align: left;
}

/* line 85, ../sass/style.scss */
.text-right {
  text-align: right;
}

/* line 89, ../sass/style.scss */
section {
  height: 280px;
  padding: 150px 0;
  text-align: center;
  width: 100%;
  color: white;
}
/* line 95, ../sass/style.scss */
section p {
  margin: 30px;
}

/* line 100, ../sass/style.scss */
.image-div {
  width: 200px;
  margin: 100px 40px 0px 40px;
}

/* line 105, ../sass/style.scss */
.sixty {
  width: 59%;
}

/* line 110, ../sass/style.scss */
h1 {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

/* line 119, ../sass/style.scss */
h2 {
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 25px;
  margin-left: 30px;
  margin-right: 30px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

/* line 130, ../sass/style.scss */
.online {
  background: url("../images/bkgnd.jpg");
  background-size: cover;
}

/* line 135, ../sass/style.scss */
.mission {
  background-color: #fcf9f4;
  color: #000;
}
/* line 138, ../sass/style.scss */
.mission h2 {
  color: #000;
}
/* line 141, ../sass/style.scss */
.mission p {
  width: 800px;
  display: block;
  margin: 30px auto;
}

/* line 148, ../sass/style.scss */
.students {
  background-color: #91d0b1;
}

/* line 152, ../sass/style.scss */
.prospective {
  background-color: #ffcd62;
}

/* line 156, ../sass/style.scss */
.partners {
  background-color: #80a8cc;
}

/* line 160, ../sass/style.scss */
.progress {
  background-color: #fcf9f4;
  color: #000;
  padding-top: 60px;
  padding-bottom: 170px;
}
/* line 165, ../sass/style.scss */
.progress h2 {
  color: #000;
}
/* line 168, ../sass/style.scss */
.progress h3 {
  margin: 50px 20px;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
/* line 174, ../sass/style.scss */
.progress li {
  display: inline-block;
  width: 240px;
  height: 230px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 30px;
}
/* line 181, ../sass/style.scss */
.progress li:nth-last-child(1) {
  color: #80a8cc;
}
/* line 184, ../sass/style.scss */
.progress li:nth-last-child(2) {
  color: #ffcd62;
}
/* line 187, ../sass/style.scss */
.progress li:nth-last-child(3) {
  color: #91d0b1;
}

/* line 193, ../sass/style.scss */
footer {
  height: 60px;
  background-color: #4d4e59;
  text-align: center;
  color: white;
  line-height: 60px;
}
